.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.App{
   margin :10px;

}
.b{
   box-sizing: 100px;
}
.card 
{
  background-color: rgb(130, 140, 158);
  padding: 10px 30px 10px 30px;
  margin: 20px;
  text-decoration-color: #282c34;
}
.align-center {
  align-items: center;
 
}
.col {
  width: 100%;
}
.button-minus {
  width: 10px;
  height: 10px;
}
